<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/decaf-features.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>Noninvasive measurement of wave speed of porcine cornea in ex vivo porcine eyes for various intraocular pressures</strong><br />
      Boran Zhou, Arthur J Sit, Xiaoming Zhang.<br />
        <a href="assets/pdf/2017-ultrasonics.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
   The objective of this study was to extend an ultrasound surface wave elastography (USWE) technique for noninvasive 
      measurement of ocular tissue elastic properties. In particular, we aim to establish the relationship between 
      the wave speed of cornea and the intraocular pressure (IOP).
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/mrFrog.jpg" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>The biaxial active mechanical properties of the porcine primary renal artery</strong><br />
     Boran Zhou, Alexander Rachev, Tarek Shazly. 
      <a href="assets/pdf/2015-the biaxial active mechanical properties of the porcine primary renal artery.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
   This study is a continuation of our previous investigation, in which a four-fiber constitutive model of the 
      passive response of the primary porcine renal artery was identified. Here we focus on the active response 
      of this vessel, specifically in the case of maximal SMC contraction, and develop a constitutive model of
      the active stress–stretch relations.
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/papers/iccv13_ta.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>The perivascular environment along the vertebral artery governs segment-specific structural and mechanical properties</strong><br />
      Boran Zhou, Mohammed Alshareef, David Prim, Michael Collins, Michael Kempner, Adam Hartstone-Rose, John F Eberth, Alexander Rachev, Tarek Shazly.
      <a href="assets/pdf/2016-Zhou-acta biomaterialia.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
     In this study, we compare the passive mechanical response of the central, juxtaposed 
      arterial segments of porcine VAs (V2 and V3) via inflation-extension mechanical testing.
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/papers/iccv13_sa.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>Lung mass density analysis using deep neural network and lung ultrasound surface wave elastography</strong><br />
      Boran Zhou, Xiaoming Zhang.
      <a href="assets/pdf/2018-zhou-DNN--ultrasonics.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
   We have developed a lung ultrasound surface wave elastography (LUSWE) technique to measure the surface wave speed of superficial lung tissue. The objective of this study was to develop a method for analyzing lung mass density of superficial lung tissue using a deep neural network (DNN) and synthetic data of wave speed measurements with LUSWE. 
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/papers/icml13.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>Comparison of five viscoelastic models for estimating viscoelastic parameters using ultrasound shear wave elastography</strong><br />
      Boran Zhou, Xiaoming Zhang
      <a href="assets/pdf/2018-Zhou-visco——MBBM.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
     The purpose of this study is to compare five viscoelastic models (Voigt, Maxwell, standard linear solid, spring-pot, and fractional Voigt models) for estimating viscoelastic properties based on ultrasound shear wave elastography measurements. 
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/papers/nips12.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>The effect of pleural fluid layers on lung surface wave speed measurement: Experimental and numerical studies on a sponge lung phantom</strong><br />
     Boran Zhou, Xiaoming Zhang
      <a href="assets/pdf/2019-pleural.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
      By using lung ultrasound surface wave elastography (LUSWE) and finite element method (FEM), the effect of pleural effusion on the elasticity of superficial lung parenchyma in terms of surface wave speed measurement was evaluated in a sponge phantom study.
    </p> 
  </div>
</div>
